In [1]:
my_list = [1,2,3,4,5]

In [3]:
for number in my_list:
    print(number)

1
2
3
4
5

In [4]:
for item in my_list:
    new_number = item*5
    print(new_number)

5
10
15
20
25

In [9]:
for number in my_list:
    if number % 2 == 0:
        print(number)

2
4

In [10]:
if 2 in my_list:
    print("true")

true

In [11]:
for num in my_list:
    if num ==2:
        print("true")

true

In [12]:
my_string = "can ilter"

In [13]:
for letter in my_string:
    print(letter)

c
a
n

i
l
t
e
r

In [14]:
my_tuple = {1,2,3}

In [22]:
for item in my_tuple:
    print(item * 5 - 10)

-5
0
5

In [24]:
my_new_list = [("a","b"),("c","d"),("e","f"), ("g","h")]

In [25]:
for element in my_new_list:
    print(element)

('a', 'b')
('c', 'd')
('e', 'f')
('g', 'h')

In [30]:
for (x,y) in my_new_list:
    print(x)
    print(y)

a
b
c
d
e
f
g
h

In [31]:
my_tuple_list = [(0,1,2,),(3,4,5),(9,10,11)]

In [32]:
for (x,y,z) in my_tuple_list:
    print((x,y,z))

(0, 1, 2)
(3, 4, 5)
(9, 10, 11)

In [33]:
my_dictionary = {"k1":100, "k2":200, "k3":300}

In [39]:
for (key,value) in my_dictionary.items():
    print(key)

k1
k2
k3